<ion-header class="ion-no-border custom" collapse="fade" [translucent]="true">
  <ion-toolbar class="custom" translucent="true">
    <!-- <ion-title> EMPIEZA EL RETO </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column wrap" fxLayoutAlign="center center">
      <div fxFlex="100" class="text-center" fxFlex.xs="100">
        <ion-img class="logo" src="/assets/logo.png"></ion-img>
        <!-- <h2>{{ topTxt }}</h2> -->
      </div>
    </div>
    <form
      [formGroup]="getFormActive()"
      (ngSubmit)="handleLoginForm()"
      fxLayout="column wrap"
      fxLayoutAlign="center stretch"
      fxLayout.xs="column"
    >
      <div
        *ngIf="this.formActive === 'register'"
        fxFlex="100"
        class="text-center"
        fxFlex.xs="100"
      >
        <mat-form-field appearance="fill">
          <mat-label>Nombre completo</mat-label>
          <input formControlName="nombre" matInput />
          <mat-error *ngFor="let validation of validationMessages.username">
            <span
              class="error-message"
              *ngIf="
                currentActiveForm?.get('nombre')?.hasError(validation.type) &&
                (currentActiveForm?.get('nombre')?.dirty ||
                  currentActiveForm?.get('nombre')?.touched)
              "
              >{{ validation.message }}</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" class="text-center" fxFlex.xs="100">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input
            formControlName="correo"
            matInput
            type="email"
            pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]+$"
          />
          <mat-error *ngFor="let validation of validationMessages.email">
            <span
              class="error-message"
              *ngIf="
                currentActiveForm?.get('correo')?.hasError(validation.type) &&
                (currentActiveForm?.get('correo')?.dirty ||
                  currentActiveForm?.get('correo')?.touched)
              "
              >{{ validation.message }}</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div
        fxFlex="100"
        *ngIf="this.formActive === 'register' || this.formActive !== 'recover'"
        class="text-center"
        fxFlex.xs="100"
      >
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input formControlName="contrasena" matInput type="password" />
          <mat-error *ngFor="let validation of validationMessages.contrasena">
            <span
              class="error-message"
              *ngIf="
                currentActiveForm
                  ?.get('contrasena')
                  ?.hasError(validation.type) &&
                (currentActiveForm?.get('contrasena')?.dirty ||
                  currentActiveForm?.get('contrasena')?.touched)
              "
              >{{ validation.message }}</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div
        *ngIf="this.formActive === 'register'"
        fxFlex="100"
        class="text-center"
        fxFlex.xs="100"
      >
        <mat-form-field appearance="fill">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            formControlName="confirmarContrasena"
            matInput
            type="password"
          />
          <mat-error
            *ngFor="let validation of validationMessages.confirmarContrasena"
          >
            <span
              class="error-message"
              *ngIf="
                currentActiveForm
                  ?.get('confirmarContrasena')
                  ?.hasError(validation.type) &&
                (currentActiveForm?.get('confirmarContrasena')?.dirty ||
                  currentActiveForm?.get('confirmarContrasena')?.touched)
              "
              >{{ validation.message }}</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" class="text-center" fxFlex.xs="100">
        <br />
        <ion-button
          ion-button
          [disabled]="!this.currentActiveForm?.valid || this.loading"
          type="submit"
        >
          {{ this.btnTxt }}
        </ion-button>
        <p *ngIf="this.formActive !== 'register'">
          <a href="javascript:void(0)" (click)="toggleForm('recover')"
            >Olvide mi contraseña</a
          >
        </p>
        <p>
          {{ noAccountMsg }} <br /><br />
          <ion-button
            color="tertiary"
            href="javascript:void(0)"
            (click)="
              toggleForm(this.formActive === 'login' ? 'register' : 'login')
            "
            >{{ callToAction }}</ion-button
          >
        </p>

        <!-- <p>
          <a routerLink="/politica-privacidad">Política de Privacidad</a>
        </p> -->
      </div>
      <!-- <div
        *ngIf="this.formActive !== 'register'"
        fxFlex="100"
        class="text-center"
        fxFlex.xs="100"
      >
        <h4>Tambien puedes entrar con:</h4>
        <ion-button color="tertiary" (click)="useExternal('facebook')">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button color="tertiary" (click)="useExternal('google')">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div> -->
    </form>
  </div>
</ion-content>
