<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title> EMPIEZA EL RETO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    class="initial-message"
  >
    <ion-img class="logo" src="/assets/klcrojo.svg"></ion-img>
    <h1 class="text-center">Parece que te interesa el reto</h1>
    <p class="text-center">
      Para empezar con tu plan de entrenamiento primero necesitamos algunos
      datos
    </p>

    <!-- <button mat-raised-button color="primary">Empezar</button> -->
    <ion-button>Empezar</ion-button>
  </div>
</ion-content>
