<ion-header class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar translucent="true">
    <!-- <ion-title> EMPIEZA EL RETO </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div
    fxLayout="column wrap"
    fxLayoutAlign="center center"
    class="initial-message text-center"
  >
    <ion-img class="logo" src="/assets/klcrojo.svg"></ion-img>
    <h1 class="text-center">BIENVENIDO(A)</h1>
    <h2 class="text-center">¿Estas listo para un cambio en tu vida?</h2>
    <p class="text-center">
      Para empezar con tu plan de entrenamiento primero necesitamos algunos
      datos
    </p>

    <!-- <button mat-raised-button color="primary">Empezar</button> -->
    <ion-button>Empezar</ion-button>
  </div>
</ion-content>
