<ion-header>
  <ion-toolbar>
    <ion-title> BIENVENIDO(A) </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div fxLayout="row wrap">
    <ion-card class="dark-light user-info" fxFlex.xs="100" fxFlex="50">
      <ion-card-content>
        <h3>Hola {{this.user.nombreCompleto}}</h3>
      </ion-card-content>
    </ion-card>

    <ion-card class="dark-light bg bg-rutinas" fxFlex.xs="100" fxFlex="50">
      <ion-card-content class="text-center"> Mis Rutinas </ion-card-content>
    </ion-card>
    <ion-card class="dark-light bg bg-dietas" fxFlex.xs="100" fxFlex="50">
      <ion-card-content class="text-center"> Mis Comidas </ion-card-content>
    </ion-card>
    <ion-card class="dark-light bg bg-ejercicios" fxFlex.xs="100" fxFlex="50">
      <ion-card-content class="text-center"> Ejercicios </ion-card-content>
    </ion-card>
  </div>
</ion-content>
